{% if exists("title") -%}
# {{title}}
{% else if exists("kind") and kind != "page" -%}
# {{name}} {{title(kind)}} Reference
{% endif %}

<br>

> ## [Doxygen Reference](https://ctxz.github.io/TinyWS2812/)

<br>